@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html,body,#__next{
        margin:0;
        height:100%;
        width:100%
     }

}

@layer components{
    .bgPaper{
        @apply p-5 shadow-xl rounded-md bg-white;
    }
}